In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

# Reading the Data

In [2]:
triage = pd.read_csv('triage.csv')
diagnosis = pd.read_csv('diagnosis.csv')

print(triage.shape, 'triage')
display(triage.head())

print(diagnosis.shape, 'diagnosis')
display(diagnosis.head())

(425087, 11) triage

,subject_id,stay_id,temperature,heartrate,resprate,o2sat,sbp,dbp,pain,acuity,chiefcomplaint
0,10000032,32952584,97.8,87.0,14.0,97.0,71.0,43.0,7,2.0,Hypotension
1,10000032,33258284,98.4,70.0,16.0,97.0,106.0,63.0,0,3.0,"Abd pain, Abdominal distention"
2,10000032,35968195,99.4,105.0,18.0,96.0,106.0,57.0,10,3.0,"n/v/d, Abd pain"
3,10000032,38112554,98.9,88.0,18.0,97.0,116.0,88.0,10,3.0,Abdominal distention
4,10000032,39399961,98.7,77.0,16.0,98.0,96.0,50.0,13,2.0,"Abdominal distention, Abd pain, LETHAGIC"

(899050, 6) diagnosis

,subject_id,stay_id,seq_num,icd_code,icd_version,icd_title
0,10000032,32952584,1,4589,9,HYPOTENSION NOS
1,10000032,32952584,2,07070,9,UNSPECIFIED VIRAL HEPATITIS C WITHOUT HEPATIC ...
2,10000032,32952584,3,V08,9,ASYMPTOMATIC HIV INFECTION
3,10000032,33258284,1,5728,9,"OTH SEQUELA, CHR LIV DIS"
4,10000032,33258284,2,78959,9,OTHER ASCITES

# Dealing with Triage Table

In [3]:
triage.drop(columns=['pain', 'acuity', 'chiefcomplaint'], inplace=True)

In [4]:
display(triage.head())

   subject_id   stay_id  temperature  heartrate  resprate  o2sat    sbp   dbp
0    10000032  32952584         97.8       87.0      14.0   97.0   71.0  43.0
1    10000032  33258284         98.4       70.0      16.0   97.0  106.0  63.0
2    10000032  35968195         99.4      105.0      18.0   96.0  106.0  57.0
3    10000032  38112554         98.9       88.0      18.0   97.0  116.0  88.0
4    10000032  39399961         98.7       77.0      16.0   98.0   96.0  50.0

# Min-Max Scaling on Triage

In [5]:
from sklearn.preprocessing import MinMaxScaler
import pickle

# Define columns to be normalized
columns_to_normalize = ['temperature', 'heartrate', 'resprate', 'sbp', 'o2sat', 'dbp']

# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Fit scaler to the data and transform the columns
data_normalized = triage.copy()
data_normalized[columns_to_normalize] = scaler.fit_transform(triage[columns_to_normalize])

# Save the scaling parameters to a file (for future use)
scaling_parameters = {
    'min': scaler.data_min_.tolist(),
    'max': scaler.data_max_.tolist(),
    'scale': scaler.scale_.tolist(),
    'columns': columns_to_normalize
}

# Save the scaler to a file (for future use)
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

# Save the normalized data to a new file
data_normalized.to_csv('normalized_data.csv', index=False)

In [6]:
triage2 = pd.read_csv('normalized_data.csv')
triage2.head()

,subject_id,stay_id,temperature,heartrate,resprate,o2sat,sbp,dbp
0,10000032,32952584,0.099097,0.070090,0.007692,0.010405,0.000463,0.000065
1,10000032,33258284,0.099706,0.056235,0.008791,0.010405,0.000695,0.000095
2,10000032,35968195,0.100720,0.084760,0.009890,0.010298,0.000695,0.000086
3,10000032,38112554,0.100213,0.070905,0.009890,0.010405,0.000761,0.000133
4,10000032,39399961,0.100010,0.061940,0.008791,0.010513,0.000629,0.000076

# Treating nulls

In [7]:
triage2.isnull().sum()

subject_id         0
stay_id            0
temperature    23415
heartrate      17090
resprate       20353
o2sat          20596
sbp            18291
dbp            19091
dtype: int64

In [8]:
triage2.dropna(inplace = True)

In [9]:
triage2.isnull().sum()

subject_id     0
stay_id        0
temperature    0
heartrate      0
resprate       0
o2sat          0
sbp            0
dbp            0
dtype: int64

In [10]:
print('Total:', len(triage2))

Total: 392620

# Dealing with Diagnosis Table

In [11]:
diagnosis.drop(columns=['seq_num', 'icd_version','icd_title'], inplace=True)

In [12]:
display(diagnosis.head())

   subject_id   stay_id icd_code
0    10000032  32952584     4589
1    10000032  32952584    07070
2    10000032  32952584      V08
3    10000032  33258284     5728
4    10000032  33258284    78959

# mapping of ICD codes

In [13]:
#Filter out E and V codes from ICD9 codes since processing will be done on the numeric first 3 values
diagnosis['recode'] = diagnosis['icd_code']
diagnosis['recode'] = diagnosis['recode'][~diagnosis['recode'].str.contains("[a-zA-Z]").fillna(False)]
diagnosis['recode'].fillna(value='999', inplace=True)

# Take in consideration just the first 3 integers of the ICD9 code
diagnosis['recode'] = diagnosis['recode'].str.slice(start=0, stop=3, step=1)
diagnosis['recode'] = diagnosis['recode'].astype(int)

In [14]:
# ICD Main Category ranges
icd_ranges = [(1, 140), (140, 240), (240, 280), (280, 290), (290, 320), (320,390),
               (390, 460), (460, 520), (520, 580), (580, 630), (630, 680),(680, 710),
               (710, 740), (740, 760), (760, 780), (780, 800), (800, 1000),(1000, 2000)]

# Associated category names
diag_dict = {0: 'infectious', 1: 'neoplasms', 2: 'endocrine', 3: 'blood',
             4: 'mental', 5: 'nervous', 6: 'circulatory', 7: 'respiratory',
             8: 'digestive', 9: 'genitourinary', 10: 'pregnancy', 11: 'skin',
             12: 'muscular', 13: 'congenital', 14: 'prenatal', 15: 'misc',
             16: 'injury', 17: 'misc'}

# Re-code in terms of integer
for num, category_range in enumerate(icd_ranges):
    diagnosis['recode'] = np.where(diagnosis['recode'].between(category_range[0],category_range[1]), num, diagnosis['recode'])
    
# Convert integer to category name using diag_dict
diagnosis['super_category'] = diagnosis['recode'].replace(diag_dict)

In [15]:
diagnosis.head()

   subject_id   stay_id icd_code  recode super_category
0    10000032  32952584     4589       6    circulatory
1    10000032  32952584    07070       0     infectious
2    10000032  32952584      V08      16         injury
3    10000032  33258284     5728       8      digestive
4    10000032  33258284    78959      15           misc

In [16]:
diagnosis[diagnosis['stay_id']==30000039]

        subject_id   stay_id icd_code  recode super_category
298745    13340997  30000039     8054      16         injury
298746    13340997  30000039     8052      16         injury
298747    13340997  30000039    E8889      16         injury
298748    13340997  30000039    80709      16         injury

In [17]:
stay_list = diagnosis.groupby('stay_id')['super_category'].apply(list).reset_index()

In [18]:
diagnosis_item = pd.get_dummies(stay_list['super_category'].explode()).groupby(stay_list['stay_id']).sum()
diagnosis_item.reset_index(inplace=True)

In [19]:
print(diagnosis_item)

         stay_id  blood  circulatory  congenital  digestive  endocrine  \
0       30000012      0            0           0          1          0
1       30000017      0            1           0          0          0
2       30000038      0            0           0          0          0
3       30000039      0            0           0          0          0
4       30000055      0            1           0          0          0
...          ...    ...          ...         ...        ...        ...
423984  39999939      0            1           0          0          1
423985  39999953      0            0           0          0          0
423986  39999961      0            0           0          0          0
423987  39999964      0            0           0          0          0
423988  39999965      0            0           0          0          0

        genitourinary  infectious  injury  mental  misc  muscular  neoplasms  \
0                   1           0       0       0     0         0          0
1                   0           1       2       1     0         0          0
2                   0           0       1       0     0         0          0
3                   0           0       4       0     0         0          0
4                   0           0       0       0     0         0          0
...               ...         ...     ...     ...   ...       ...        ...
423984              0           0       0       0     1         0          0
423985              0           0       0       0     2         0          0
423986              0           0       3       0     0         0          0
423987              0           0       2       0     0         0          0
423988              0           0       0       0     1         0          0

        nervous  pregnancy  prenatal  respiratory  skin
0             0          0         0            0     0
1             0          0         0            0     0
2             0          0         0            0     0
3             0          0         0            0     0
4             1          0         0            0     0
...         ...        ...       ...          ...   ...
423984        0          0         0            0     0
423985        0          0         0            0     0
423986        0          0         0            0     0
423987        0          0         0            0     0
423988        0          1         0            0     0

[423989 rows x 18 columns]

# Merging Triage with Diagnosis

In [20]:
merged_df = pd.merge(triage2, diagnosis_item, on=['stay_id'], how='left')

In [21]:
display(merged_df.head(5))

,subject_id,stay_id,temperature,heartrate,resprate,o2sat,sbp,dbp,blood,circulatory,...,injury,mental,misc,muscular,neoplasms,nervous,pregnancy,prenatal,respiratory,skin
0,10000032,32952584,0.099097,0.070090,0.007692,0.010405,0.000463,0.000065,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10000032,33258284,0.099706,0.056235,0.008791,0.010405,0.000695,0.000095,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10000032,35968195,0.100720,0.084760,0.009890,0.010298,0.000695,0.000086,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10000032,38112554,0.100213,0.070905,0.009890,0.010405,0.000761,0.000133,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10000032,39399961,0.100010,0.061940,0.008791,0.010513,0.000629,0.000076,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [22]:
selected_columns = ['circulatory', 'congenital', 'digestive', 'endocrine', 'genitourinary', 'infectious', 'injury', 'mental', 'misc', 'muscular', 'neoplasms', 'nervous', 'pregnancy', 'prenatal', 'respiratory', 'skin']

# Checking unique values in each column
for column in selected_columns:
    unique_value_counts = merged_df[column].value_counts()
    print(f"Unique values and their counts in column '{column}':\n{unique_value_counts}")

Unique values and their counts in column 'circulatory':
0.0    354265
1.0     32206
2.0      4659
3.0       570
4.0        51
Name: circulatory, dtype: int64
Unique values and their counts in column 'congenital':
0.0    391598
1.0       152
2.0         1
Name: congenital, dtype: int64
Unique values and their counts in column 'digestive':
0.0    374974
1.0     15564
2.0      1168
3.0        42
4.0         3
Name: digestive, dtype: int64
Unique values and their counts in column 'endocrine':
0.0    365848
1.0     21542
2.0      4052
3.0       293
4.0        15
5.0         1
Name: endocrine, dtype: int64
Unique values and their counts in column 'genitourinary':
0.0    375068
1.0     15135
2.0      1422
3.0       121
4.0         5
Name: genitourinary, dtype: int64
Unique values and their counts in column 'infectious':
0.0    386762
1.0      4879
2.0       109
3.0         1
Name: infectious, dtype: int64
Unique values and their counts in column 'injury':
0.0    130975
1.0    105376
2.0     85502
3.0     41581
4.0     17783
5.0      6978
6.0      2554
7.0       758
8.0       201
9.0        43
Name: injury, dtype: int64
Unique values and their counts in column 'mental':
0.0    374353
1.0     14392
2.0      2563
3.0       364
4.0        67
5.0        11
6.0         1
Name: mental, dtype: int64
Unique values and their counts in column 'misc':
0.0    332602
1.0     49148
2.0      8800
3.0      1148
4.0        50
5.0         3
Name: misc, dtype: int64
Unique values and their counts in column 'muscular':
0.0    370748
1.0     18243
2.0      2560
3.0       186
4.0        13
5.0         1
Name: muscular, dtype: int64
Unique values and their counts in column 'neoplasms':
0.0    387517
1.0      3736
2.0       418
3.0        65
4.0        15
Name: neoplasms, dtype: int64
Unique values and their counts in column 'nervous':
0.0    381695
1.0      9361
2.0       675
3.0        20
Name: nervous, dtype: int64
Unique values and their counts in column 'pregnancy':
0.0    389052
1.0      2492
2.0       195
3.0        11
4.0         1
Name: pregnancy, dtype: int64
Unique values and their counts in column 'prenatal':
0.0    371717
1.0     19117
2.0       898
3.0        19
Name: prenatal, dtype: int64
Unique values and their counts in column 'respiratory':
0.0    378571
1.0     12142
2.0      1008
3.0        30
Name: respiratory, dtype: int64
Unique values and their counts in column 'skin':
0.0    383619
1.0      7631
2.0       467
3.0        30
4.0         2
7.0         1
5.0         1
Name: skin, dtype: int64

In [23]:
print('Total:', len(merged_df))

Total: 392620

# Base model

In [92]:
from datetime import datetime
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import pickle

# Initialize an empty dataframe to store results
results_df = pd.DataFrame(columns=['Iteration', 'Accuracy', 'Classification_Report', 'Positive_Probability'])

# Initialize an empty dictionary to store models
models_dict = {}

# Specify the columns you want to iterate over
target_columns = ['blood', 'circulatory', 'congenital', 'digestive', 'endocrine', 'genitourinary', 'infectious', 'injury', 'mental', 'misc', 'muscular', 'neoplasms', 'nervous', 'pregnancy', 'prenatal', 'respiratory', 'skin']  # Adjust these with your column names

for target_column in target_columns:
    start_time = datetime.now()
    
#     # Balance the dataset based on the current target column
    merged_df[target_column] = np.where(merged_df[target_column] >= 1, 1, 0)
    
    df_class_1 = merged_df[merged_df[target_column] == 1]
    df_class_0 = merged_df[merged_df[target_column] == 0]
    count_class_0 = len(df_class_0)
    
    if len(df_class_1) > 0:  # Check if df_class_1 has at least one row
        df_class_1_over = df_class_1.sample(count_class_0, replace=True)
        merged_data_over = pd.concat([df_class_0, df_class_1_over], axis=0)
        
        X = merged_data_over[['stay_id', 'temperature', 'heartrate', 'resprate', 'o2sat', 'sbp', 'dbp']]
        Y = merged_data_over[target_column]
        
        X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, stratify=Y, random_state=2)
        
        rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
        rf_classifier.fit(X_train, Y_train)
        Y_pred = rf_classifier.predict(X_test)
        accuracy = accuracy_score(Y_test, Y_pred)

        class_report = classification_report(Y_test, Y_pred)
        
        # Append results to the dataframe
        results_df = results_df.append({'Iteration': target_column, 'Accuracy': accuracy, 'Classification_Report': class_report}, ignore_index=True)
        
        end_time = datetime.now()
        print(f'Model training time: {end_time-start_time}')
        print(f'Iteration {target_column}: Accuracy {accuracy:.4f}')
        print(class_report)
#         # Save the trained model
#         with open(f'model_{target_column}.pkl', 'wb') as file:
#             pickle.dump(rf_classifier, file)
#         print('Model saved.')
        
    else:
        print(f'No samples found for class {target_column}. Skipping...')
        
#Display the results dataframe
print("Results DataFrame:")
print(results_df)

# Display the models dictionary
print("Models Dictionary:")
print(models_dict)

Model training time: 0:03:43.888127
Iteration blood: Accuracy 1.0000
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    116313
           1       1.00      1.00      1.00    116313

    accuracy                           1.00    232626
   macro avg       1.00      1.00      1.00    232626
weighted avg       1.00      1.00      1.00    232626

Model training time: 0:02:42.989105
Iteration circulatory: Accuracy 0.9922
              precision    recall  f1-score   support

           0       1.00      0.99      0.99    106280
           1       0.99      1.00      0.99    106279

    accuracy                           0.99    212559
   macro avg       0.99      0.99      0.99    212559
weighted avg       0.99      0.99      0.99    212559

Model training time: 0:02:08.097250
Iteration congenital: Accuracy 1.0000
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    117480
           1       1.00      1.00      1.00    117479

    accuracy                           1.00    234959
   macro avg       1.00      1.00      1.00    234959
weighted avg       1.00      1.00      1.00    234959

Model training time: 0:03:14.159260
Iteration digestive: Accuracy 0.9998
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    112493
           1       1.00      1.00      1.00    112492

    accuracy                           1.00    224985
   macro avg       1.00      1.00      1.00    224985
weighted avg       1.00      1.00      1.00    224985

Model training time: 0:03:21.163703
Iteration endocrine: Accuracy 0.9988
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    109755
           1       1.00      1.00      1.00    109754

    accuracy                           1.00    219509
   macro avg       1.00      1.00      1.00    219509
weighted avg       1.00      1.00      1.00    219509

Model training time: 0:03:02.943262
Iteration genitourinary: Accuracy 0.9997
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    112521
           1       1.00      1.00      1.00    112520

    accuracy                           1.00    225041
   macro avg       1.00      1.00      1.00    225041
weighted avg       1.00      1.00      1.00    225041

Model training time: 0:02:29.268777
Iteration infectious: Accuracy 1.0000
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    116029
           1       1.00      1.00      1.00    116029

    accuracy                           1.00    232058
   macro avg       1.00      1.00      1.00    232058
weighted avg       1.00      1.00      1.00    232058

Model training time: 0:01:17.871704
Iteration injury: Accuracy 0.6186
              precision    recall  f1-score   support

           0       0.61      0.65      0.63     39293
           1       0.63      0.59      0.61     39292

    accuracy                           0.62     78585
   macro avg       0.62      0.62      0.62     78585
weighted avg       0.62      0.62      0.62     78585

Model training time: 0:02:42.227225
Iteration mental: Accuracy 0.9992
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    112306
           1       1.00      1.00      1.00    112306

    accuracy                           1.00    224612
   macro avg       1.00      1.00      1.00    224612
weighted avg       1.00      1.00      1.00    224612

Model training time: 0:03:15.327955
Iteration misc: Accuracy 0.9782
              precision    recall  f1-score   support

           0       0.98      0.97      0.98     99781
           1       0.97      0.98      0.98     99781

    accuracy                           0.98    199562
   macro avg       0.98      0.98      0.98    199562
weighted avg       0.98      0.98      0.98    199562

Model training time: 0:03:23.892007
Iteration muscular: Accuracy 0.9994
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    111225
           1       1.00      1.00      1.00    111224

    accuracy                           1.00    222449
   macro avg       1.00      1.00      1.00    222449
weighted avg       1.00      1.00      1.00    222449

Model training time: 0:02:33.003552
Iteration neoplasms: Accuracy 1.0000
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    116256
           1       1.00      1.00      1.00    116255

    accuracy                           1.00    232511
   macro avg       1.00      1.00      1.00    232511
weighted avg       1.00      1.00      1.00    232511

Model training time: 0:03:41.486387
Iteration nervous: Accuracy 0.9999
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    114509
           1       1.00      1.00      1.00    114508

    accuracy                           1.00    229017
   macro avg       1.00      1.00      1.00    229017
weighted avg       1.00      1.00      1.00    229017

Model training time: 0:02:14.665504
Iteration pregnancy: Accuracy 1.0000
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    116716
           1       1.00      1.00      1.00    116716

    accuracy                           1.00    233432
   macro avg       1.00      1.00      1.00    233432
weighted avg       1.00      1.00      1.00    233432

Model training time: 0:03:05.919761
Iteration prenatal: Accuracy 0.9990
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    111516
           1       1.00      1.00      1.00    111515

    accuracy                           1.00    223031
   macro avg       1.00      1.00      1.00    223031
weighted avg       1.00      1.00      1.00    223031

Model training time: 0:02:36.605870
Iteration respiratory: Accuracy 0.9989
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    113572
           1       1.00      1.00      1.00    113571

    accuracy                           1.00    227143
   macro avg       1.00      1.00      1.00    227143
weighted avg       1.00      1.00      1.00    227143

Model training time: 0:02:35.446041
Iteration skin: Accuracy 1.0000
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    115086
           1       1.00      1.00      1.00    115086

    accuracy                           1.00    230172
   macro avg       1.00      1.00      1.00    230172
weighted avg       1.00      1.00      1.00    230172

Results DataFrame:
        Iteration  Accuracy  \
0           blood  0.999970
1     circulatory  0.992200
2      congenital  0.999996
3       digestive  0.999764
4       endocrine  0.998797
5   genitourinary  0.999720
6      infectious  0.999970
7          injury  0.618630
8          mental  0.999212
9            misc  0.978192
10       muscular  0.999411
11      neoplasms  0.999978
12        nervous  0.999878
13      pregnancy  0.999957
14       prenatal  0.998951
15    respiratory  0.998943
16           skin  0.999952

                                Classification_Report Positive_Probability
0                 precision    recall  f1-score   ...                  NaN
1                 precision    recall  f1-score   ...                  NaN
2                 precision    recall  f1-score   ...                  NaN
3                 precision    recall  f1-score   ...                  NaN
4                 precision    recall  f1-score   ...                  NaN
5                 precision    recall  f1-score   ...                  NaN
6                 precision    recall  f1-score   ...                  NaN
7                 precision    recall  f1-score   ...                  NaN
8                 precision    recall  f1-score   ...                  NaN
9                 precision    recall  f1-score   ...                  NaN
10                precision    recall  f1-score   ...                  NaN
11                precision    recall  f1-score   ...                  NaN
12                precision    recall  f1-score   ...                  NaN
13                precision    recall  f1-score   ...                  NaN
14                precision    recall  f1-score   ...                  NaN
15                precision    recall  f1-score   ...                  NaN
16                precision    recall  f1-score   ...                  NaN
Models Dictionary:
{}

In [25]:
from datetime import datetime
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import pickle

# Initialize an empty dataframe to store results
results_df = pd.DataFrame(columns=['Iteration', 'Accuracy', 'Classification_Report', 'Positive_Probability'])

# Initialize an empty dictionary to store models
models_dict = {}

# Specify the columns you want to iterate over
target_columns = ['blood', 'circulatory', 'congenital', 'digestive', 'endocrine', 'genitourinary', 'infectious', 'injury', 'mental', 'misc', 'muscular', 'neoplasms', 'nervous', 'pregnancy', 'prenatal', 'respiratory', 'skin']  # Adjust these with your column names

for target_column in target_columns:
    start_time = datetime.now()
    
#     # Balance the dataset based on the current target column
    merged_df[target_column] = np.where(merged_df[target_column] >= 1, 1, 0)
    
    df_class_1 = merged_df[merged_df[target_column] == 1]
    df_class_0 = merged_df[merged_df[target_column] == 0]
    count_class_0 = len(df_class_0)
    
    if len(df_class_1) > 0:  # Check if df_class_1 has at least one row
        df_class_1_over = df_class_1.sample(count_class_0, replace=True)
        merged_data_over = pd.concat([df_class_0, df_class_1_over], axis=0)
        
        X = merged_data_over[['stay_id', 'temperature', 'heartrate', 'resprate', 'o2sat', 'sbp', 'dbp']]
        Y = merged_data_over[target_column]
        
        X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, stratify=Y, random_state=2)
        
        rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
        rf_classifier.fit(X_train, Y_train)
        Y_pred = rf_classifier.predict(X_test)
        accuracy = accuracy_score(Y_test, Y_pred)

        class_report = classification_report(Y_test, Y_pred)
        
        # Append results to the dataframe
        results_df = results_df.append({'Iteration': target_column, 'Accuracy': accuracy, 'Classification_Report': class_report}, ignore_index=True)
        
        end_time = datetime.now()
        print(f'Model training time: {end_time-start_time}')
        print(f'Iteration {target_column}: Accuracy {accuracy:.4f}')
        print(class_report)
        
        
        # Save the trained model
        with open(f'model_{target_column}.pkl', 'wb') as file:
            pickle.dump(rf_classifier, file)
        print('Model saved.')

Model training time: 0:01:21.653483
Iteration blood: Accuracy 1.0000
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    116574
           1       1.00      1.00      1.00    116574

    accuracy                           1.00    233148
   macro avg       1.00      1.00      1.00    233148
weighted avg       1.00      1.00      1.00    233148

Model saved.
Model training time: 0:01:47.188391
Iteration circulatory: Accuracy 0.9920
              precision    recall  f1-score   support

           0       1.00      0.99      0.99    106541
           1       0.99      1.00      0.99    106540

    accuracy                           0.99    213081
   macro avg       0.99      0.99      0.99    213081
weighted avg       0.99      0.99      0.99    213081

Model saved.
Model training time: 0:01:22.902788
Iteration congenital: Accuracy 1.0000
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    117741
           1       1.00      1.00      1.00    117740

    accuracy                           1.00    235481
   macro avg       1.00      1.00      1.00    235481
weighted avg       1.00      1.00      1.00    235481

Model saved.
Model training time: 0:01:44.519620
Iteration digestive: Accuracy 0.9997
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    112753
           1       1.00      1.00      1.00    112753

    accuracy                           1.00    225506
   macro avg       1.00      1.00      1.00    225506
weighted avg       1.00      1.00      1.00    225506

Model saved.
Model training time: 0:01:48.776664
Iteration endocrine: Accuracy 0.9987
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    110016
           1       1.00      1.00      1.00    110015

    accuracy                           1.00    220031
   macro avg       1.00      1.00      1.00    220031
weighted avg       1.00      1.00      1.00    220031

Model saved.
Model training time: 0:01:48.332014
Iteration genitourinary: Accuracy 0.9997
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    112782
           1       1.00      1.00      1.00    112781

    accuracy                           1.00    225563
   macro avg       1.00      1.00      1.00    225563
weighted avg       1.00      1.00      1.00    225563

Model saved.
Model training time: 0:01:33.356047
Iteration infectious: Accuracy 1.0000
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    116290
           1       1.00      1.00      1.00    116289

    accuracy                           1.00    232579
   macro avg       1.00      1.00      1.00    232579
weighted avg       1.00      1.00      1.00    232579

Model saved.
Model training time: 0:00:51.980277
Iteration injury: Accuracy 0.6194
              precision    recall  f1-score   support

           0       0.61      0.65      0.63     39554
           1       0.63      0.59      0.61     39553

    accuracy                           0.62     79107
   macro avg       0.62      0.62      0.62     79107
weighted avg       0.62      0.62      0.62     79107

Model saved.
Model training time: 0:01:44.732888
Iteration mental: Accuracy 0.9991
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    112567
           1       1.00      1.00      1.00    112567

    accuracy                           1.00    225134
   macro avg       1.00      1.00      1.00    225134
weighted avg       1.00      1.00      1.00    225134

Model saved.
Model training time: 0:02:09.164099
Iteration misc: Accuracy 0.9777
              precision    recall  f1-score   support

           0       0.98      0.97      0.98    100042
           1       0.97      0.98      0.98    100041

    accuracy                           0.98    200083
   macro avg       0.98      0.98      0.98    200083
weighted avg       0.98      0.98      0.98    200083

Model saved.
Model training time: 0:02:05.487521
Iteration muscular: Accuracy 0.9995
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    111486
           1       1.00      1.00      1.00    111485

    accuracy                           1.00    222971
   macro avg       1.00      1.00      1.00    222971
weighted avg       1.00      1.00      1.00    222971

Model saved.
Model training time: 0:01:32.358291
Iteration neoplasms: Accuracy 1.0000
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    116516
           1       1.00      1.00      1.00    116516

    accuracy                           1.00    233032
   macro avg       1.00      1.00      1.00    233032
weighted avg       1.00      1.00      1.00    233032

Model saved.
Model training time: 0:01:49.816032
Iteration nervous: Accuracy 0.9999
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    114770
           1       1.00      1.00      1.00    114769

    accuracy                           1.00    229539
   macro avg       1.00      1.00      1.00    229539
weighted avg       1.00      1.00      1.00    229539

Model saved.
Model training time: 0:01:21.672357
Iteration pregnancy: Accuracy 1.0000
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    116977
           1       1.00      1.00      1.00    116976

    accuracy                           1.00    233953
   macro avg       1.00      1.00      1.00    233953
weighted avg       1.00      1.00      1.00    233953

Model saved.
Model training time: 0:01:44.889933
Iteration prenatal: Accuracy 0.9989
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    111776
           1       1.00      1.00      1.00    111776

    accuracy                           1.00    223552
   macro avg       1.00      1.00      1.00    223552
weighted avg       1.00      1.00      1.00    223552

Model saved.
Model training time: 0:01:40.762057
Iteration respiratory: Accuracy 0.9988
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    113832
           1       1.00      1.00      1.00    113832

    accuracy                           1.00    227664
   macro avg       1.00      1.00      1.00    227664
weighted avg       1.00      1.00      1.00    227664

Model saved.
Model training time: 0:01:47.050452
Iteration skin: Accuracy 0.9999
              precision    recall  f1-score   support

           0       1.00      1.00      1.00    115347
           1       1.00      1.00      1.00    115346

    accuracy                           1.00    230693
   macro avg       1.00      1.00      1.00    230693
weighted avg       1.00      1.00      1.00    230693

Model saved.